{% extends 'base.html' %}

{% block title %}
    注册
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                {% if not user.is_authenticated %}
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST">
                            {# django有一个CSFR验证 #}
                            {% csrf_token %}
                            {% for field in  reg_form%}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field}}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span class="text-danger">{{ reg_form.non_field_errors }}</span>
                            <div class="clearfix"></div>
                            <button id="send_code" class="btn btn-primary pull-left">发送验证码</button>
                            <button type="submit" name="注册" class="btn btn-primary pull-right">注册</button>
                        </form>
                    </div>
                </div>
                {% else %}
                    <script type="text/javascript">
                        window.location.href = '/'
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#send_code").click(function () {
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }
            //发送验证码
            $.ajax({
                url : "{% url 'send_verification_code' %}",
                type : "GET",
                data :{
                    'email' :email,
                    'send_for' : 'register_code',
                    'subject' : '注册账号',
                },
                cache :false,
                success :function () {
                    if(data['status'] =='ERROR'){
                        alert(data['status']);
                    }
                }
            });

            //把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled',true);
            //倒计时后可点
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled',false);
                    $(this).text('再次发送验证码');
                    return false;
                }
                time --;
                $(this).text(time + 's');
            },1000);
        });
    </script>
{% endblock %}