body {
    margin-top: 50px!important;
}
h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}

div#container{
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 7em;

}
div.hot-data-today {

    margin-top: 1em;
    display: inline-block;
}
div.hot-data-yesterday {
    display: inline-block;
    margin-top: 1em;
}
div.hot-data-seven-day {
    margin-top: 1em;
    display: inline-block;
}
